<mat-card id="{{ card.id }}" (click)="select()"
          [ngClass]="{'selected-blue': selectedCard === card.id && player.team === group.BLUE,
                      'selected-red': selectedCard === card.id && player.team === group.RED}">
<!--<mat-card id="{{ card.id }}" (click)="select()" [ngClass]="{'selected': selectedCard === card.id}">-->
  <div class="word" [ngClass]="{'exposed': card.isExposed}">
    {{card.word}}
  </div>
  <div class="red faces" *ngIf="card.type == cardTypeEnum.RED_CARD && (card.isExposed || player.userType === playerTypeEnum.SUPER_SPY)">
    <img src="/assets/images/red-agent.png" alt="" *ngIf="player.userType !== playerTypeEnum.SUPER_SPY">
  </div>
  <div class="blue faces" *ngIf="card.type == cardTypeEnum.BLUE_CARD && (card.isExposed || player.userType === playerTypeEnum.SUPER_SPY)">
    <img src="/assets/images/blue-agent.png" alt="" *ngIf="player.userType !== playerTypeEnum.SUPER_SPY">
  </div>
  <div class="black faces" *ngIf="card.type == cardTypeEnum.BLACK_CARD && (card.isExposed || player.userType === playerTypeEnum.SUPER_SPY)">
    <img src="/assets/images/spyware.svg" alt="" *ngIf="player.userType !== playerTypeEnum.SUPER_SPY">
  </div>
  <div class="grey faces" *ngIf="card.type == cardTypeEnum.GREY_CARD && (card.isExposed || player.userType === playerTypeEnum.SUPER_SPY)">
    <img src="/assets/images/confused.svg" alt="" *ngIf="player.userType !== playerTypeEnum.SUPER_SPY">
  </div>
</mat-card>
