button {
  max-width: 250px;
  margin: auto;
  margin-top: 15%;
}

.cards {
  display: grid;
  grid-template-rows: 25% 25% 25% 25% 25%;
  grid-template-columns: 15% 15% 15% 15% 15%;
  justify-content: center;
  align-items: center;
}
