<div class="container">
  <div class="rooms-header">
    חיפוש חדרים
  </div>
  <table dir="rtl" mat-table style="text-align: right"
        [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{columnsInHebrew[column]}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="enterRoom()">
    </tr>
    <!--<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
  </table>

  <div style="text-align: center; margin-top: 19px;">
    <mat-form-field class="example-full-width" lass="add-room-input">
      <textarea matInput placeholder="enter room name"></textarea>
    </mat-form-field>
    <button mat-button class="btn btn-primary add-room" (click)="addRoom()">add room</button>
  </div>
</div>
